---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import { playlists } from '../lib/data';
import PlaylistItemCard from '../components/PlaylistItemCard.astro';
---

<Layout title="TopMusic | Inicio">
		<div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-context"
    style="min-height:300px;--context-color:#134e4a;"
  >
    <PageHeader />
    <div class="relative z-10 px-6">
      <h1 class="text-4xl font-bold text-white mt-8">
				Categorias mas populares
			</h1>				
      <div
        class="grid gap-y-4 gap-x-6 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 mt-6"
      >
        { playlists.map((playlist) => <PlaylistItemCard playlist={playlist}/>) }
      </div>
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
    >
    </div>
  </div>

</Layout>

