---
const { artists } = Astro.props;
---

{
  artists.map((artist, index) => {
    return (
      <>
        <a href={"#"} class="hover:underline">
          {artist.name}
        </a>
        <span class="text-gray-300">
          {index === artists.length - 1 ? " " : ", "}
        </span>
      </>
    );
  })
}
